
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    border-bottom: 5px #E71A29 solid;
    margin: 20px 5% 0 5%;

}

.logo{
    height: 150px;
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    

}


.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 5% 0 5%;
    justify-content: space-between;

}

.item {
    margin-bottom: 1%;
    height: 400px;
    width: 32.5%;
    border: 2px #E71A29 solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    h1 {
        text-align: center;
        border-bottom: 5px #E71A29 solid;
        margin: 20px 5% 0 5%;
    
    }

    .item {
        margin-bottom: 5%;
        height: 350px;
        width: 49%;
        border: 2px #E71A29 solid;
    }
}


@media screen and (max-width:700px) {

    h1 {
        text-align: center;
        border-bottom: 5px #E71A29 solid;
        margin: 20px 5% 0 5%;
    
    }

    .item {
        margin-bottom: 5%;
        height: 350px;
        width: 100%;
        border: 2px #E71A29 solid;
    }
}